<app-listado-generico [listado]="peliculas">
  <ng-container vacio>
    Mensaje personalizado para contenido <b>vacío</b>
  </ng-container>
  <ng-container contenido>
    <div
      *ngFor="let pelicula of peliculas; let index = index"
      class="pelicula-contenedor"
    >
      <div>
        <h2>
          Película {{ index }}: {{ pelicula.titulo }}
          <button style="margin-left: 1rem" (click)="remover(index)">
            Remover
          </button>
        </h2>
      </div>
      <div>
        Fecha de Lanzamiento:
        {{ pelicula.fechaLanzamiento | date: "dd-MMMM-yy" | uppercase }}
      </div>
      <div>Precio: {{ pelicula.precio | currency }}</div>
    </div>
  </ng-container>
</app-listado-generico>
